{
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "^./pages/(.*)$",
    "^./components/(.*)$",
    "^(?!.*[.]scss$)[./].*$",
    ".scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
