{
  "importOrder": [
    "^./pages/(.*)$",
    "^./components/(.*)$",
    "<BUILT_IN_MODULES>",
    "^(?!.*[.]scss$)[./].*$",
    ".scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
