/*********************************************
 * footer
 *********************************************/

.footer-wrap {
  background: $color-black;

  .footer {
    padding: $space-xxxlarge $space-large;
    color: $color-white;
    max-width: $max-width;
    margin: 0 auto;
    line-height: 1.1;

    @include break(646px) {
      display: grid;
      grid-template-columns: 250px 360px;
      justify-content: center;
      grid-template-areas:
        "info info"
        "links links"
        "contact contact";
    }

    @include break($large) {
      grid-template-columns: 1fr 250px 360px;
      grid-template-areas: "info links contact";
      justify-items: initial;
    }

    &__info,
    &__links,
    &__contact {
      margin: $space-large 0;

      @include break($large) {
        padding: $space-large;
      }
    }

    &__info {
      @include flex-center();

      grid-area: info;
      flex-direction: column;
      text-align: center;
      background-color: $color-white;
      color: $color-black;
      padding: $space-large;
    }

    &__links {
      grid-area: links;

      ul {
        list-style: none;

        li {
          padding: $space-small 0;
          color: $color-secondary;
        }
      }

      @include break(646px) {
        text-align: center;

        ul {
          @include flex-center();
          
          gap: $space-large;
        }
      }

      @include break($large) {
        text-align: left;

        ul {
          flex-direction: column;
          gap: 0;
          align-items: flex-start;
        }
      }
    }

    &__contact {
      grid-area: contact;

      @include break(646px) {
        display: grid;
        grid-template-columns: 305px 305px;
        grid-template-areas:
          "address address"
          "phone email";
        text-align: center;

        .address {
          grid-area: address;
          margin-bottom: $space-large;
        }

        .phone {
          grid-area: phone;
        }

        .email {
          grid-area: email;
        }
      }

      @include break($large) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "address"
          "phone"
          "email";
        text-align: left;

        .address {
          margin-bottom: 0;
        }
      }
    }

    h3 {
      font-family: $headings;
      font-weight: 600;
      color: lighten($color: $color-primary, $amount: 20%);
    }

    p {
      padding: $space-small;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: $color-secondary;
      transition: $transition-long;
    }

    a:hover,
    a:active {
      color: lighten($color: $color-primary, $amount: 20%);
    }
  }

  .copyright {
    padding: $space-large;
    text-align: center;
    border-top: 1px solid $color-primary;
    color: $color-secondary;
    font-size: 1rem;
  }
}
