/*********************************************
 * mixins
 *********************************************/

@mixin break($breakpoint...) {
  @if length($breakpoint) ==1 {
    @media (min-width: nth($breakpoint, 1)) {
      @content;
    }
  } @else {
    @media (min-width: nth($breakpoint, 1)) and (max-width: nth($breakpoint, 2)) {
      @content;
    }
  }
}

@mixin hide-text() {
  text-shadow: none;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin square($size: 2rem) {
  width: $size;
  aspect-ratio: 1;
}

@mixin section-margin() {
  margin: 1rem auto;
  padding: 1rem;

  @include break($medium) {
    margin: 3rem auto;
  }
}

@mixin heading($fow: 900, $mb: 1.6rem) {
  font-size: clamp(2rem, 1.3077rem + 3.4615vw, 3.125rem);
  font-weight: $fow;
  margin-bottom: $mb;
  font-family: $headings;
}

@mixin image-border($width: 3px) {
  border: $width solid $color-white;
  box-shadow:
    0 16px 24px 2px rgb(38 109 162 / 14%),
    0 6px 30px 5px rgb(38 109 162 / 12%),
    0 8px 10px -7px rgb(38 109 162 / 20%);
}

@mixin background-image($image) {
  background-image:
    linear-gradient(
      360deg,
      rgba(241, 241, 241, 0.75) 30%,
      rgba(241, 241, 241, 0.3) 100%
    ),
    url($image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin hero-title() {
  font-size: clamp(2rem, 1.0588rem + 4.7059vw, 4rem);
  font-family: $headings;
  padding: 0 $space-large;
  color: darken($color: $color-primary, $amount: 10);
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  text-shadow:
    0 0.15ch 15px oklch(0.82 0.01 131.26),
    0 -2px 0 $color-white;
}
