/*********************************************
 * navigation - dropdown menu from top
 *********************************************/

.navigation-container {
  z-index: 999;
  width: 100%;
  position: fixed;
  background: $color-white;
  top: 0;
  box-shadow: 0 -6px 7px -7px rgba($color-primary, 0.8) inset;

  @include break($large) {
    max-width: $app-width;
  }

  &.sticky {
    .navigation {
      @include break($large) {
        padding: 0 $space-large;
      }
    }

    .navigation__logo {
      @include break($large) {
        transform: scale(0.7);
        transition: $transition;
      }
    }
  }

  // mobile
  @include break(320px, 991px) {
    .navigation {
      width: 100%;
      padding: $space-large;
      z-index: 49;
      will-change: transform;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      &__logo {
        height: 63px;
        display: flex;
        align-items: center;

        img {
          width: 140px;
        }

        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
          color: $color-black;
        }
      }

      &__toggle {
        @include square(38px);

        display: block;
        border-radius: $space-small;
        background-color: transparent;
        float: right;
        padding: 8px 8px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &.open span:first-child {
          transform: rotate(45deg) translate(4.4px, 4.4px);
        }

        &.open span:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &.open span:last-child {
          transform: rotate(-45deg) translate(4.4px, -4.4px);
        }

        span {
          position: relative;
          display: block;
          height: 2px;
          width: 100%;
          margin-top: $space-small;
          background-color: $color-primary;
          transition: $transition;
        }
      }

      .outer-menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.8s ease-out;
        position: relative;
        z-index: 48;

        &.collapse-outer {
          height: 100vh;
        }
      }

      &__menu {
        height: 0;
        overflow: hidden;
        transition: all 0.8s ease-out;
        z-index: 50;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;

        &__item {
          padding: $space-large;
          color: $color-primary;
          text-transform: uppercase;
          text-decoration: none;
          width: 100%;
          text-align: center;
          -webkit-tap-highlight-color: $color-secondary;
          letter-spacing: 0.2rem;
          font-family: $headings;
          display: block;
          font-weight: 900;
        }

        &.collapse-inner {
          height: 60vh;
          margin-top: 40px;
          overflow-y: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  // desktop
  @include break($large) {
    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: $transition;
      padding: $space-xxlarge;

      &__logo {
        font-weight: 900;
        font-family: $secondary;
        height: 100px;
        display: flex;
        align-items: center;
        transition: $transition;
        font-size: 2rem;

        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
          color: $color-black;
        }
      }

      &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: $space-large;

        &__item {
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: $transition;
          position: relative;
          color: darken($color: $color-primary, $amount: 10);
          text-transform: uppercase;
          padding: $space-medium $space-large;
          font-family: $headings;
          font-weight: 600;
          text-align: center;

          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            bottom: -4px;
            left: 0;
            background-color: darken($color: $color-primary, $amount: 10);
            transform: scaleX(0);
            transition: transform 0.6s ease;
          }

          &:hover {
            &::before {
              transform: scaleX(1);
            }
          }
        }
      }

      .navigation__toggle {
        display: none;
      }
    }
  }
}
