/*********************************************
 * scroll to top button
 *********************************************/

.top-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $app-width;
  z-index: 79;
  height: 0;

  .top {
    @include square(50px);

    position: absolute;
    bottom: $space-xxlarge;
    right: $space-xlarge;
    background: $color-primary;
    border-radius: $space-small;
    font-size: 0;
    z-index: 11;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    svg {
      width: 2rem;
      height: 2rem;
      fill: $color-white;
    }
  }
}
