/*********************************************
* colors
*********************************************/

$color-primary: #4c707c;
$color-secondary: #fff;
$color-triary: #8ec8ed;
$color-red: #fe0000;
$color-black: #000;
$color-white: #fff;
$color-shadow: #b9b9b9;

/*********************************************
 * screen sizes
 *********************************************/

$small: 320px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

/*********************************************
 * fonts
 *********************************************/

$headings: "Saira", sans-serif;
$primary: "Montserrat", sans-serif;

/*********************************************
 * miscelaneous
 *********************************************/

$max-width: 1200px;
