/*********************************************
* colors
*********************************************/

$color-primary: #4c707c;
$color-secondary: #fff;
$color-triary: #8ec8ed;
$color-red: #fe0000;
$color-black: #000;
$color-white: #fff;
$color-shadow: #b9b9b9;

/*********************************************
 * screen sizes
 *********************************************/

$small: 320px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;

/*********************************************
 * fonts
 *********************************************/

$headings: "Saira", sans-serif;
$primary: "Montserrat", sans-serif;
$secondary: "Montserrat", sans-serif;

/*********************************************
 * miscelaneous
 *********************************************/

$max-width: 1200px;
$app-width: 1600px;

/*********************************************
 * padding and margin sizes   
 *********************************************/

$space-small: 0.25rem;
$space-medium: 0.5rem;
$space-large: 1rem;
$space-xlarge: 1.5rem;
$space-xxlarge: 2rem;
$space-xxxlarge: 3rem;

/*********************************************
 * animation transtions
 *********************************************/

$transition: all 0.3s ease-in;
$transition-long: all 0.6s ease-in;

